<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kobe.angariae"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="kobe.angariae.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="kobe.angariae.activity.AddConnectionActivity"            
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="kobe.angariae.activity.ACTION_EDIT_CONNECTION" />
                <action android:name="kobe.angariae.activity.ACTION_NEW_CONNECTION" />
            </intent-filter>
        </activity>
        <activity
            android:name="kobe.angariae.activity.BrowseActivity"
            android:label="@string/app_name" />
        <activity
            android:name="kobe.angariae.activity.AVPlayerActivity"
            android:label="@string/app_name"/>

    </application>

</manifest>
